* {
  padding: 0;
  margin: 0;
}

#expense-form {
  margin-bottom: 20px;
  width: 70%;
}

.expense-form__input {
  padding: 13px;
  margin: 3px;
}

.expense-form__button {
  padding: 13px;
}

table {
  border-collapse: collapse;
  width: 70%;
}

td,
th {
  border: 1px solid rgb(195, 194, 194);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eee;
}
